[Unit]
Description=Shibboleth Identity Provider
After=syslog.target network.target mariadb.target

[Service]
Environment=JETTY_START_TIMEOUT=360
ExecStart=/bin/bash -c "{{ install-base }}/shibboleth/shibboleth-idp/current/bin/idp.sh start"
ExecStop=/bin/bash -c "{{ install-base }}/shibboleth/shibboleth-idp/current/bin/idp.sh stop"
RemainAfterExit=yes
TimeoutSec=300

[Install]
WantedBy=multi-user.target
